<mat-card>
  <mat-card-header>
    <mat-card-title>
        <h6>Simução de Juros</h6>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form method="post" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="row">
        <div class="col-xl-2 col-sm-2 col-md-2">
          <mat-form-field style="width:90%;">
            <input matInput type="text" placeholder="Valor Total da Compra" name="valorTotalCompra" class="form-control" id="valorTotalCompra" formControlName="valorTotalCompra" />
          </mat-form-field>
        </div>

        <div class="col-xl-2 col-sm-2 col-md-2">
          <mat-form-field style="width:90%;">
            <input matInput type="number" placeholder="Valor do Juros em %" name="valorJuros" class="form-control" id="valorJuros" formControlName="valorJuros" />
          </mat-form-field>
        </div>

        <div class="col-xl-2 col-sm-2 col-md-2">
          <mat-form-field style="width:90%;">
            <input matInput type="number" placeholder="Quantidade de Parcelas" name="quantidadeDeParcela" class="form-control" id="quantidadeDeParcela" formControlName="quantidadeDeParcela" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-xl-2 col-sm-2 col-md-2 my-2">
        <button mat-raised-button type="button" (click)="calcular()" style="vertical-align:top" [disabled]="form.invalid">
          <i class="fa fa-floppy-o" aria-hidden="true"> </i> Simular
        </button>
        <button mat-raised-button type="button" style="vertical-align:top" (click)="clear()">
          <i class="fa fa-trash-o" aria-hidden="false"> </i> Limpar
        </button>
      </div>
    </form>
    </mat-card-content>
</mat-card>
